*{
    margin: 0;
    padding:0;
}

header{
    width:100%;
    height: 100vh;
    background: url("/beach-yoga-pose-in-sand-at-sunset.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.topbar{
    display:flex;
    position:fixed;
    align-items: left;   
    justify-content: space-between;
    padding:5px 20px;
    background-color: rgb(87,74,20);
    box-shadow:none;
    width:100%;
    box-sizing: border-box;

}

.topbar span{
    color:white;
    
}


.topbar ul{
    margin: 0px 20px;
    list-style: none;
    display:flex;
}
   
.topbar li{
    margin:0px 20px 0px 20px

}    

.topbar a{
    color:white;
}

.topbar a:hover{
    color:rgb(210, 140, 18);
    background-color: none;  
}

ul{
    list-style-type: none;
    float:right;
    margin-top: 25px; 
}

ul li{
    display:inline-block;
}


ul li.active a{
    background-color: rgb(87,74,20);
    color: black;

}

.main {
    top:0;
    left:0;
    width:100%;
    height: 70px;
    padding: 4px 50px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.15);
    border-bottom:1px solid #fff;
}




.main ul li a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius:4px;
    padding: 3px 20px;
    margin: 6px 2px;
    transition: 0.6s ease;
    display:flex;
    
}

ul li a:hover{
    background-color: white;
    color: black;
}

.logo{
    float:left;
    font-size: 35px;
    margin-top: 25px;
    margin-left: 25px;
    
}

.signup{
    position: fixed;
    display: flex;
    margin-top: 15%;
    margin-left: 65%;
    align-items:center;
    justify-content: center;
    height:20vh;

}

h3{
    position: absolute;
    margin-top:65%;
    margin-left: 0%;
    display:flex;
    align-items:center;
    justify-content: center;
    height: 20vh;
    
    


}


h3 a:link,a:visited{
    background-color: rgb(87,74,20);
    padding:10px 25px;
    text-decoration: none;
    border-radius: 10px;
    color:white;

}
h3 a:hover{
    color:rgb(206, 67, 17);
    background-color:rgb(159, 144, 144)
}



    
    




